<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titlepage}} not found</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/404font.css" />
    <link rel="icon" href="/icons/link.png">
</head>
<body style="background-image: url('/media/pagenotfound.jpg');">
    
    <body>
        <div class="perspective-text">
          <div class="perspective-line">
            <p></p>
            <p>Oups,</p>
          </div>
          <div class="perspective-line">
            <p>Oups,</p>
            <p>Looks like</p>
          </div>
          <div class="perspective-line">
            <p>Looks like</p>
            <p>You entered</p>
          </div>
          <div class="perspective-line">
            <p>You entered</p>
            <p>Holy Fuckin Space</p>
          </div>
          <div class="perspective-line">
            <p>Holy Fuckin Space</p>
            <p></p>
          </div>
        </div>
    </body>

</body>
</html>