<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Traffic | Contact</title>
    <link rel="icon" href="/icons/link.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body> 
    <script>
    $(document).ready(function(){
        var image={};
        fetch('http://linktraffic.me/get-captcha')
        .then(response => response.json())
        .then(data => { 
            var imgobj = document.getElementById("captcha-image")
            imgobj.setAttribute("src", data.response.image)
            var hashed_text = data.response.hashed_text
            document.cookie = `hash_captcha=${hashed_text}`;
        })
        .catch(err => console.log(err));
        });
    function countChar(val) {
    var len = val.value.length;
    if (len >= 500) {
        val.value = val.value.substring(0, 500);
    } else {
        $('#charNum').text((500 - len).toString() + "/500 characters left");
    }
    };

    function loadGif() {
        document.getElementById("loadingImage").style.display = ""
    }

    
    </script>
    <style>
        .alert {
            padding: 20px;
            color: white;
            margin-bottom: 15px;
            margin-top: 15px;
            margin-right: 15%;
            margin-left: 15%;
            opacity: 1; 
        }
        .closebtn{
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }
        .closebtn:hover {
            color: black;
        }
    </style>
    {{>navbar}}
    <div style="padding:15px 15px 20px;font-size:30px;margin-top:30px;">
        <img src="/icons/loading.gif" style="display:none;" id="loadingImage">
        {{#if failure}}
            <div style="background-color: #f44336;"  class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{message}}
            </div>
        {{/if}}
        {{#if success}}
            <div style="background-color:green;" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{message}}
            </div>
        {{/if}}
        <div class="login-form">
            <h1 id="subtitle">Contact form</h1>
            <br>
            <form id="contact-form" action="/contact" method="POST" onsubmit="loadGif()">
                    <input id = "name" type="text" name="username" placeholder="Your name..." required>
                    <input id="email" type="email" name="email" placeholder="Your e-mail..." required>
                    <textarea id = "message" type="text" name="message" placeholder="Type your message" maxlength="501" onkeyup="countChar(this)" required></textarea>
                    <div id="charNum"></div> 
                    <br>
                    <input  style="width:50%;" id="captcha" type="text" name="captcha" placeholder="Captcha.." required> <img id="captcha-image">
                    
                    <br>
                <input type="submit">
                
            </form>
        </div>       
    </div>
</body>
</html>